
.container{
    display: flex;
    gap:20px;
     flex-direction: row; 
}
.bat{
    width: 200px;
    height: 300px;
    border: 1px solid skyblue;
    border-radius: 10px;
    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bat > h4{
    margin: 0;
}